.new-films, .top-week {
	.row {
	margin-left: -7.5px;
	margin-right: -7.5px;
	}
	.thumbnail {
    margin-bottom: 15px;
    }
}

.main {
    .panel-search {
        margin: 40px 0 20px 0;
    }
}

.new-films-item {
	padding-left: 7.5px;
	padding-right: 7.5px;
	&__label {
		text-align: center;
		@include text-shortener;
	}
	&:hover 
		.thumbnail	{
		background-color: &accent-color;
	}
	strong {
		color:lighten(&_gray-color, 18%);
	}
	&__image {
		width: 100%;
	}
	.caption {
		text-align: center;
	}
}

.film-news {
    img {
        width: 100%;
	}

	
	
}
