@mixin single-text-shortener {
	white-space: nowrap;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;

}

@mixin text-shortener {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@mixin multiple-text-shortener {
	display: -webkit-box;
	overflow: hidden;
	font-size: 1rem;
	line-height: 24px;
	height: 50px;
}

@mixin block-header {
    margin: 0;
    padding-bottom: 10px;

    border-bottom: 1px solid $dark-color;
}