.navbar-nav > li > a {
  padding-top: 15px;
  padding-bottom: 15px; }

.navbar-left li {
  margin: 5px 5px 5px 0; }

.navbar-right li {
  margin: 5px 0px 5px 5px; }

.navbar-inverse {
  background-color: #181818;
  border-color: transparent; }

.navbar-inverse .navbar-nav > li > a {
  border-radius: 4 px; }
  .navbar-inverse .navbar-nav > li > a:hover {
    background-color: #5182ae !important; }

.navbar-inverse .navbar-nav > .active > a {
  background-color: #053259; }

.panel-info > .panel-heading {
  border: none;
  color: white;
  background-color: #df8a13; }

.panel-title {
  letter-spacing: 0.1rem;
  font-size: 1.2rem; }

.panel-body {
  border: 1px solid #dddddd;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px; }

.panel {
  margin-bottom: 30px;
  border: none;
  background-color: #f1f1f1; }

.input-group-lg > .form-control,
.input-group-lg > .form-control {
  font-size: 0.875rem; }

html {
  overflow-y: scroll;
  font-size: 16px; }

body {
  font-size: 1rem;
  font-family: "PT Sans", sans-serif; }

a {
  color: #165690;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s; }
  a:hover, a:focus {
    text-decoration: none;
    color: #df8a13; }

.heder-logo {
  padding: 100px 20px;
  text-align: center;
  background-color: #222222;
  background-image: url(..img/header-bg.jpg);
  background-position: 50% 50%;
  background-size: cover; }
  .heder-logo_title {
    display: block;
    color: #df8a13;
    font-size: 3.5rem;
    font-family: "PT Serif", serif;
    text-shadow: 0 0 5px #000000, 0 0 20px #000000;
    letter-spacing: 0.33em; }
  .heder-logo_description {
    display: block;
    font-size: 1.15rem;
    color: white;
    letter-spacing: 0.2em;
    text-shadow: 0 0 5px #000000, 0 0 20px #000000; }

.left-sidebar {
  margin-top: 30px; }

.vertical-slider {
  border-radius: 4px;
  overflow: hidden; }
  .vertical-slider img {
    width: 100%; }

.site-news ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.site-news li:not(last-child) > a > div {
  min-height: 85px; }
  .site-news li:not(last-child) > a > div::after {
    position: absolute;
    content: "";
    width: calc(100% - 85px);
    height: 1px;
    background-color: #dddddd;
    buttom: -5px;
    right: 0; }

.site-news-item {
  clear: both;
  position: relative;
  margin-bottom: 10px; }
  .site-news-item__image {
    float: left;
    width: 75px;
    margin-right: 10px;
    margin-bottom: 10px; }
  .site-news-item__title {
    margin-bottom: 10px; }
  .site-news-item__date {
    font-size: 0.8rem;
    color: #919191;
    text-align: right; }
  .site-news-item::after {
    position: absolute;
    content: "";
    width: calc(100% - 85px);
    height: 1px;
    background-color: #dddddd;
    buttom: -5px; }
